body {
  touch-action: none;
  -ms-touch-action: none;
  display: block;
}
.holder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.holder canvas {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
}
.confetti {
  background-image: url('img/confetti.gif');
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.confetti div.modal {
  padding: 40px;
  border: SOLID 20px #5E832D;
  font-family: cursive;
  background-color: #C8E1A7;
  color: #3A7B2F;
  font-size: 3em;
  text-align: center;
}
.confetti div.modal a {
  font-size: 20px;
  position: static;
  margin: 50px auto 10px;
}
#help {
  position: absolute;
  bottom: 5px;
  text-align: center;
  width: 100%;
}
#help li {
  position: relative;
  width: 60%;
  left: 15%;
  font-family: cursive;
  font-size: 25px;
  text-align: center;
  margin: 20px 0 0 0;
  background-color: #FDE3C9;
  line-height: 30px;
  padding: 10px 0 10px 5%;
  border-radius: 10px;
  border: SOLID 1px #B8581B;
  color: #B8581B;
  display: none;
}
#help li:first-child {
  display: list-item;
}
a.big-button {
  position: absolute;
  top: -50px;
  right: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #db5705;
  font-weight: 700;
  font-size: 2em;
  display: block;
  padding: 24px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 9px 0px #db1f05, 0px 9px 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 9px 0px #db1f05, 0px 9px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 9px 0px #db1f05, 0px 9px 25px rgba(0, 0, 0, 0.7);
  margin: 100px auto;
  width: 160px;
  text-align: center;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}
a.big-button:active {
  -webkit-box-shadow: 0px 3px 0px #db1f05, 0px 3px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 3px 0px #db1f05, 0px 3px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 3px 0px #db1f05, 0px 3px 6px rgba(0, 0, 0, 0.9);
  top: -54px;
}
#pot {
  position: absolute;
  margin: 2%;
}
#light .artificialLight {
  -webkit-transition-property: width height background-color font-size left top transform -webkit-transform color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: width height background-color font-size left top transform -webkit-transform color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
#xrayplace {
  position: absolute;
  top: 20%;
  left: 30%;
  right: 4%;
  bottom: 30%;
  border: dashed 5px blue;
  display: none;
}
#xrayscan {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #0055FF;
  opacity: 0.3;
  -webkit-transform: translateX(-100%);
  -webkit-transition: linear 2s;
}
#xrayscan.done {
  -webkit-transform: translateX(100%);
}
#xraypic {
  position: absolute;
  left: 35%;
  width: 30%;
  top: 10%;
  box-shadow: 0 0 10px #000000;
  padding: 20px 20px;
  -webkit-transform: rotateZ(0deg) scale(0);
  -webkit-transition: 1s;
}
#xraypic.done {
  -webkit-transform: rotateZ(-10deg) scale(1);
}
#xrayposition {
  position: absolute;
  color: #F00;
  opacity: 0.6;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 300px;
}
