<!DOCTYPE HTML>
<html  manifest="manifest.appcache">
<head>
	<title>Say-Ah</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no">

	<link rel="stylesheet" type="text/css" href="main.css"/>
</head>
<body>
	<div id="content">
		<a id = "intro" href = "pages/intro/intro.html">Loading</a>
	</div>
	<!-- build:template
   <% _.each(scripts, function(script){ %>
	<script src="<%= script%>" type = "text/javascript" ></script>
	<% }); %>
	/build -->

	<!-- build:template:dist
	<% _.each(templates, function(template){ %>
		<script type="text/template" data-src="<%=template%>">
			<inline src="../src/<%=template%>"/>
		</script>
	<% }); %>
	/build -->

	<script type="text/javascript">
		if (!document.location.hash){
			$('#intro').click();
		}
	</script>
</body>
</html>